button {
  display: block;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: inline-block;
  margin-top: 0;

  li {
    padding: 6px 12px;
    border: 2px solid #333;
    border-radius: 10px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.task-details {
  padding: 6px 12px;
  border: 2px solid #333;
  border-radius: 10px;
}
